{% extends 'layouts/base.html' %}

{% block content %}
  
<div class="wrapper d-flex flex-column min-vh-100">
  <header class="header header-sticky p-0 mb-4">
    {% include 'includes/navbar.html' %}
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><a href="#">Carona</a>
          </li>
          <li class="breadcrumb-item"><span>Nova Carona</span>
          </li>          
        </ol>
      </nav>
    </div>
  </header>
  <div class="body flex-grow-1">
    <div class="container-lg px-4">
      
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header"><strong>Registro</strong><span class="small ms-1"></span></div>
            <div class="card-body">
              <div class="example">
                <form method="post">
                    {% csrf_token %}
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                    <div class="mb-3">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    
                  </div>
                </div>
                
                
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}