{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  
<div class="wrapper d-flex flex-column min-vh-100">
  <header class="header header-sticky p-0 mb-4">
   {% include 'includes/navbar.html' %}
    <div class="container-fluid px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><a href="#">Home</a>
          </li>
          <li class="breadcrumb-item"><span>Caronas!</span>
          </li>          
        </ol>
      </nav>
    </div>
  </header>
  <div class="body flex-grow-1">
    <div class="container-lg px-4">
      <div class="card mb-4">
        <div class="card-header"> Ultimos Rolês</div>
        <div class="card-body">
          <div class="example">
            <ul class="nav nav-underline-border" role="tablist">
              <li class="nav-item"><a class="nav-link active"  href="{% url 'carona_create' %}" role="tab">
                  <svg class="icon me-2">                    
                  </svg>Nova</a></li>
              
            </ul>
            <div class="tab-content rounded-bottom">
              <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1007">
                <table class="table table-striped table-hover">
                  <thead>
                    
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Rota</th>
                      <th scope="col">Carro</th>
                      <th scope="col">Custo</th>
                      <th scope="col">Galera</th>
                    </tr>

                  </thead>
                  <tbody>
                    {% for viagem in carona_list %}
                    <tr>
                      <th scope="row">{{count}}</th>
                      <td>{{ viagem.rota }}</td>
                      <td>{{ viagem.veiculo }}</td>
                      <td>{{ viagem.custo_por_pessoa }}</td>
                      <td>{{ viagem.carona_participantes.all()}}</td>
                    </tr>
                    {% endfor%}
                    
                  </tbody>
                </table>
              </div>
            </div>          
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
</div>
{% endblock content %}
  
